.container {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-areas: 
    'navigation main'
    'navigation main'
    'footer footer';
  // background: blue;

  grid-template-rows: 64px 1fr 91px;
  grid-template-columns: 233px 1fr;

  nav {
    grid-area: navigation;
  }

  main {
    grid-area: main;
    
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    position: relative;

    .content {
      flex: 1;
      padding: 88px 32px 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      z-index: -1;
      width: 100%;
      height: 332px;
      background: var(--background-header);
    }
  }

  footer {
    grid-area: footer;
    background: forestgreen;
  }
}